@use "../../style/variables" as var;

.dayClasses {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__item {
    font-size: 0.8em;
    gap: 0.875rem;
    width: 100%;
    display: flex;
    padding: 2rem 0.5rem;
    border-bottom: 1px solid var.$divider-color;
    align-items: center;

    &:first-child {
      padding-top: 0.25rem;
    }

    &--empty {
      font-size: 0.6rem;
      background-color: rgba(0, 0, 0, 0.192);
      padding: 0.25rem 0.5rem;
    }
  }

  &__title {
    text-align: center;
    color: var.$white;
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__schedule {
    max-width: 70px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: rgb(213, 225, 240);
    line-height: 1.7rem;
    background: linear-gradient(
      180deg,
      rgba(244, 244, 244, 0) 48%,
      rgba(117, 117, 201, 0.422) 49%,
      rgba(14, 14, 18, 0) 51%
    );

    &--greve {
      position: relative;
      &::after {
        content: "GREVE";
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        height: fit-content;
        transform: rotate(-15deg);
        clip-path: polygon(50% 0%, 100% 0, 95% 50%, 100% 100%, 0 100%, 5% 50%, 0 0);
        display: flex;
        padding: 0.15rem 0.55rem;
        background-color: var.$red;
        color: var.$light-red;
        font-weight: 700;
        letter-spacing: 1px;
      }
    }
  }

  &__info {
    &-container {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    &-item {
      display: flex;
      flex-direction: column;
      gap: 6px;

      &-title {
        color: var.$blue-light-gray;
        font-weight: 700;
        letter-spacing: 0.5px;
        font-size: 1.15em;
      }
      &-classroom {
        font-weight: 500;
        color: var.$blue-gray;
      }
      &-description {
        color: var.$blue-weak-emphasis;
        letter-spacing: 0.5px;
        font-weight: 400;
      }
      &-class {
        color: var.$green;
      }
    }
  }
}
