@use "../../style/variables" as var;
@use "../../style/mixins.scss" as mixin;

.aside {
  position: fixed;
  inset: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
  animation: backgroundAppear 0.2s ease forwards;
  @include mixin.containerAppear(backgroundAppear, 0, 0);

  &__container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 24px;
    text-align: left;
    background-color: var.$black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 320px;
    width: 80%;
    animation: asideAppear 0.2s ease forwards;
    @include mixin.containerAppear(asideAppear, 0, 100px);
  }

  &__header {
    display: flex;
    justify-content: space-between;

    &__close {
      cursor: pointer;
    }
  }

  &__main {
    &__nav {
      display: flex;
      flex-direction: column;

      &__item {
        color: var.$blue-light-gray;
        font-weight: 600;
        font-size: 20px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid var.$divider-color;
        padding: 0 8px;
        height: 64px;
        cursor: pointer;
      }
    }
  }

  &__footer {
    text-align: center;
  }
}
