* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    background-color: rgb(8, 14, 19);
}
header {
    background-color: rgb(13, 72, 82);
    color: rgb(198, 243, 245);
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 2rem;
}
p {
    font-size: .9rem;
}
a {
    color: currentColor;
    text-decoration: none;
    font-weight: 500;
}

// ------------------------------------------------

body {
    color: rgb(177, 200, 228);
}
h2 {
    text-align: center;
    color: rgb(232, 248, 246);
    padding-bottom: 1rem;
}
h3 {
    line-height: 1.7rem;
    background: linear-gradient(180deg, rgba(244,244,244,0) 48%, rgba(117, 117, 201, 0.422) 49%, rgba(14,14,18,0) 51%);
}
article {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section {
    font-size: .8em;
    gap: .875rem;
    width: 100%;
    display: flex;
    padding: 2rem .5rem;
    border-bottom:1px solid rgba(162, 191, 226, 0.264);
    align-items: center;
}
.horarios {
    max-width: 70px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: rgb(213, 225, 240);
}
.blocos-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.blocos {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.titulo-aula {
    font-weight: 700;
    letter-spacing: .5px;
    font-size: 1.15em;
}
.lugar-aula {
    font-weight: 500;
    color: rgb(136, 165, 185);
}
.info-aula {
    color: rgba(135, 228, 225, 0.448);
    font-weight: 400;
}
span {
    color: #5fb74d;
}

// ------------------------------------------

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: .6rem;
    font-size: .7em;
    opacity: .5;
}