* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  background-color: rgb(8, 14, 19);
  color: rgb(177, 200, 228);
}
p {
  font-size: 0.9rem;
}
a {
  color: currentColor;
  text-decoration: none;
  font-weight: 500;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 1.75rem;
}
.title {
  background-color: rgb(13, 72, 82);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(198, 243, 245);
  text-align: center;
  padding: 1rem 0;
  border-bottom: 1px solid rgb(2, 33, 38);
}

#greve {
  position: relative;
  &::after {
    content: "GREVE";
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    height: fit-content;
    transform: rotate(-15deg);
    clip-path: polygon(50% 0%, 100% 0, 95% 50%, 100% 100%, 0 100%, 5% 50%, 0 0);
    display: flex;
    padding: 0.15rem 0.55rem;
    background-color: rgb(224, 59, 30);
    color: rgb(255, 200, 200);
    font-weight: 700;
    letter-spacing: 1px;
  }
}
main h2 {
  text-align: center;
  color: rgb(232, 248, 246);
}
main h3 {
  line-height: 1.7rem;
  background: linear-gradient(
    180deg,
    rgba(244, 244, 244, 0) 48%,
    rgba(117, 117, 201, 0.422) 49%,
    rgba(14, 14, 18, 0) 51%
  );
}
main article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section {
  font-size: 0.8em;
  gap: 0.875rem;
  width: 100%;
  display: flex;
  padding: 2rem 0.5rem;
  border-bottom: 1px solid rgba(162, 191, 226, 0.264);
  align-items: center;
}
.schedule {
  max-width: 70px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: rgb(213, 225, 240);
}
.block-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.blocks {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.lecture-title {
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 1.15em;
}
.lecture-classroom {
  font-weight: 500;
  color: rgb(136, 165, 185);
}
.lecture-description {
  color: rgba(135, 228, 225, 0.448);
  font-weight: 400;
}
span {
  color: #5fb74d;
}

// ------------------------------------------

footer {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 1rem;
  font-size: 0.7em;
  opacity: 0.5;
}
// @media (min-width: 800px) {
//   .reset {
//     display: none;
//   }
// }
