@use "../../style/variables" as *;
@use "../../style/mixins.scss" as mixin;

.calendar {
  margin: auto;
  overflow: auto;
  display: flex;
  max-width: 720px;
  padding: 12px;
  text-align: center;

  &__body {
    display: flex;
    gap: 12px;
  }

  &__period {
    display: grid;
    grid-template-rows: 24px repeat(6, 1fr);

    &__item {
      display: flex;
      flex-direction: column;
      color: $white;
      font-size: 12px;
      line-height: 20px;
      align-items: center;
      justify-content: center;

      h3 {
        width: 100%;
        font-weight: 500;

        &:first-child {
          border-bottom: 2px solid $divider-color;
        }
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    gap: 8px;

    &__column {
      display: grid;
      min-width: 90px;
      grid-template-rows: 24px repeat(6, 1fr);

      &__weekday {
        color: $white;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
      }

      &__class {
        display: flex;
        border-bottom: 2px solid $divider-color;
        flex-direction: column;
        padding: 16px 4px;
        justify-content: center;

        &--error {
          background-color: $background-red;
          border-bottom: 2px solid $red;
        }

        &--empty {
          color: $divider-color;
          font-size: 16px;
          font-weight: 600;
        }

        &__text {
          font-size: 14px;
          font-weight: 600;
          line-height: 18px;
          color: $blue-light-gray;

          &--error {
            color: $light-red;
            font-weight: 500;
          }
        }

        &__description {
          font-size: 10px;
          font-weight: 500;
          color: $blue-weak-emphasis;

          &--error {
            font-size: 10px;
            line-height: 14px;
            color: $light-red;
            font-weight: 500;
          }
        }
      }
    }
  }
}
