@use "../../style/variables" as var;

.modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0.5rem 1.5rem 0.5rem;
  align-items: center;

  &--open {
    display: flex;
  }

  &--closed {
    display: none;
  }

  &__warning {
    color: var.$red;
    margin: 1rem;
    font-size: 0.9125rem;
    letter-spacing: 0.5px;
    padding: 0.5rem 2rem;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  &__container {
    background-color: var.$black;
    text-align: center;
    padding: 2rem 1rem;
    max-width: 30rem;
    border-radius: 8px;
    width: 100%;
    animation: containerAppear 0.5s ease;
  }

  @keyframes containerAppear {
    0% {
      transform: translate(0, -150px);
      opacity: 0.5;
    }
    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  &__introduction {
    &__title {
      color: var.$blue-light-gray;
      margin-bottom: 0.25rem;

      &__accent {
        color: var.$blue-emphasis;
      }
    }

    &__paragraph {
      color: var.$blue-gray;
    }
  }

  &__classes {
    &__title {
      color: var.$blue-light-gray;
      border-top: 1px solid var.$divider-color;
      padding-top: 1rem;
      font-weight: 600;
      letter-spacing: 0.25px;
      font-size: 1.25rem;
      padding-bottom: 0.5rem;
    }

    &__subtitle {
      border-bottom: 1px solid var.$divider-color;
      padding: 0.5rem 0;
      font-weight: 600;
      color: rgb(136, 165, 185);
    }

    &__container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 0.5rem;
      padding: 1rem 0;
    }

    &__tag {
      font-size: 0.85rem;
      user-select: none;
      background-color: var.$blue-darker;
      color: var.$blue-light-gray;
      padding: 0.5rem 0.75rem;
      display: flex;
      align-items: center;
      border-radius: 5px;
      box-shadow: 0 0 5px -1px black;
      letter-spacing: 1px;
      font-weight: 400;
      cursor: pointer;
      transition: background-color 0.1s ease, color 0.1s ease, font-weight 0.1s ease;

      &--selected {
        color: var.$blue-darker;
        font-weight: 600;
        background-color: var.$blue-light-gray;
      }
    }
  }

  &__submit {
    position: fixed;
    width: 100%;
    padding: 1rem 0;
    background-color: rgb(13, 72, 82);
    cursor: pointer;
    border: none;
    color: rgb(177, 200, 228);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    right: 0;
    left: 0;
    bottom: -3rem;
    transition: bottom 0.1s ease;

    &--active {
      bottom: 0;
    }
  }
}
