.header {
  margin-bottom: 5.25rem;
  position: relative;

  &__title {
    background-color: rgb(13, 72, 82);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(198, 243, 245);
    text-align: center;
    padding: 1rem 0;
    border-bottom: 1px solid rgb(2, 33, 38);

    h1 {
      font-size: 1.75rem;
    }
  }

  &__reset {
    position: absolute;
    padding: 0.5rem;
    right: 1.5rem;
    display: flex;
    cursor: pointer;
  }

  &__dropDown {
    display: flex;
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    background-color: rgb(4, 44, 61);
    transition: bottom 0.3s ease-in-out;

    flex-direction: column;
    opacity: 0.95;

    &-item {
      width: 100%;
      text-align: center;
      padding: 1.35rem 0;
      border-bottom: 1px solid rgba(162, 191, 226, 0.189);
      background-color: rgb(10, 25, 39);
      cursor: pointer;

      &__text {
        font-size: 1rem;
        color: rgb(183, 214, 237);
        letter-spacing: 0.5px;
      }
    }

    &__button {
      font-family: "Montserrat", Arial, Helvetica, sans-serif;
      display: flex;
      color: rgb(198, 243, 245);
      padding: 0.3rem 0;
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 0.5rem 0;
      width: 100%;
      justify-content: center;

      &--focus {
        padding: 1rem 0;
        width: 100%;
        justify-content: center;
      }

      &__text {
        padding: 0.2rem;
        font-size: 1rem;
      }

      &__icon {
        width: 24px;

        &--focus {
          transform: rotate(180deg);
        }
      }
    }
  }
}
