@use "../../style/variables" as var;

.header {
  margin-bottom: 5rem;
  position: relative;

  &__title {
    background-color: var.$blue;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var.$blue-white;
    text-align: center;
    height: 68px;

    a {
      width: fit-content;
    }

    h1 {
      border: 1px solid red;
      font-size: 1.75rem;
      &:hover {
        text-decoration: none;
      }
    }
  }

  &__menu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.5rem;
    display: flex;
    cursor: pointer;
  }
}
