@use "../../style/variables" as var;

.calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0 15px;
  width: 100%;
  gap: 2rem;

  &-title {
    color: var.$white;
    text-align: center;
    font-size: 24px;
    line-height: 100%;
  }

  &__container {
    width: 100%;

    display: grid;
    grid-template-columns: 50px repeat(5, 1fr);
    grid-template-areas:
      ". class-seg class-ter class-qua class-qui class-sex"
      "schedule class-seg class-ter class-qua class-qui class-sex"
      "schedule class-seg class-ter class-qua class-qui class-sex"
      "schedule class-seg class-ter class-qua class-qui class-sex"
      "schedule class-seg class-ter class-qua class-qui class-sex"
      "schedule class-seg class-ter class-qua class-qui class-sex";
    grid-template-rows: 30px;
    gap: 5px 10px;

    padding: 10px 0;
  }

  &__schedule {
    margin-right: 5px;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(5, 60px);

    grid-area: schedule;

    &__period {
      color: var.$white;

      font-size: 10px;
      line-height: 16px;

      &:first-child {
        border-bottom: 1px solid #7575c9;
      }
    }
  }

  &__class {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    &--seg {
      grid-area: class-seg;
    }
    &--ter {
      grid-area: class-ter;
    }
    &--qua {
      grid-area: class-qua;
    }
    &--qui {
      grid-area: class-qui;
    }
    &--sex {
      grid-area: class-sex;
    }

    &__day {
      &-title {
        color: var.$white;
        text-transform: uppercase;
        font-size: 10px;
        line-height: 16px;
      }
    }

    &__info {
      border-bottom: 1px solid #a2bfe240;
      height: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &-title {
        color: var.$blue-white;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
      }

      &-classroom {
        color: var.$blue-weak-emphasis;
        font-size: 6px;
        font-weight: 500;
        line-height: 122%;
      }

      &-empty {
        color: var.$blue-gray;
        font-weight: 700;
        font-size: 10px;
        line-height: 16px;
      }
    }
  }

  &__button-container {
    &__button {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 6px;
      text-align: center;

      background-color: var.$blue;
      color: var.$blue-white;

      border: none;
      border-radius: 8px;
      padding: 8px 12px;
    }
  }
}
