$black: #080e13;
$white: #e8f8f6;

$blue-white: #c6f3f5;
$blue-light-gray: #b1c8e4;
$blue-gray: #88a5b9;
$blue-weak-emphasis: #528e8f;

$blue: #0d4852;
$blue-dark: #042c3d;
$blue-darker: #0a1927;

$blue-emphasis: #20e2b2;
$blue-dark-emphasis: #0d4852;

$green: #5fb74d;
$red: #b12626;
$light-red: #fccccc;
$background-red: #ff6f6f0a;
$info: #0c148f;
$light-info: #b7f7ff;

$divider-color: #a2bfe240;
$emphasis-divider-color: #4c5b6e;

$background-strong: #000000cc;
$background-medium: #00000099;
$background-weak: #0000004d;
