$black: #080e13;
$white: #e8f8f6;

$blue-white: #c6f3f5;
$blue-light-gray: #b1c8e4;
$blue-gray: #88a5b9;
$blue-weak-emphasis: #528e8f;

$blue: #0d4852;
$blue-dark: #042c3d;
$blue-darker: #0a1927;

$blue-emphasis: #20e2b2;

$green: #5fb74d;
$red: #b12626;
$light-red: #fccccc;

$divider-color: #a2bfe240;
