@mixin dynamicLineClamp($clamp: 3) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $clamp;
  line-clamp: $clamp;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin containerAppear($distance, $name) {
  @keyframes #{$name} {
    0% {
      transform: translate(0, $distance);
      opacity: 0.5;
    }
    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
}
