@use "../../style/variables" as var;

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 2.5rem 0;
  text-align: center;

  a:hover {
    text-decoration: underline;
  }

  &__feedback {
    color: var.$blue-gray;
    font-size: 12px;

    a {
      font-weight: 600;
    }
  }

  &__credits {
    color: var.$blue-gray;
    display: flex;
    align-items: center;
    font-size: 11px;
    gap: 4px;

    &--no-credits {
      gap: 6px;
    }

    &__version {
      font-size: 11px;
      font-weight: 500;
    }

    &__link {
      display: flex;
      align-items: center;
      gap: 4px;
      font-weight: 600;

      p {
        font-size: 11px;
      }
    }
  }

  &__new-calendar {
    cursor: pointer;
    font-size: 13px;
    letter-spacing: 0.5px;
    font-weight: 700;
    color: var.$red;
  }
}
