@use "../../style/variables" as var;
@use "../../style/mixins.scss" as mixin;

.class-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 0.5rem;
  padding-top: 1.5rem;
  margin: 0.5rem;
  width: 9rem;
  height: 6.5rem;
  text-align: center;
  cursor: pointer;

  &--empty {
    cursor: default;
  }

  &--default {
    background-color: var.$blue-darker;
    border: 2px solid var.$divider-color;
    &:hover {
      box-shadow: 0px 0px 4px 0px var.$blue-weak-emphasis;
    }
    &:active {
      box-shadow: none;
      opacity: 80%;
    }
  }

  &--disabled {
    background-color: var.$black;
    border: 2px dashed var.$divider-color;
    &:hover {
      border-color: var.$blue-weak-emphasis;
    }
    &:active {
      border-color: var.$divider-color;
      opacity: 80%;
    }
  }

  &--selected {
    background-color: var.$blue-darker;
    border: 2px solid var.$blue-gray;
    &:hover {
      box-shadow: 0px 0px 4px 0px var.$blue-weak-emphasis;
    }
    &:active {
      box-shadow: none;
      opacity: 80%;
    }
  }

  &__checkbox {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 1rem;
    height: 1rem;
    border-radius: 4px;
    color: var.$blue-darker;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;

    &--default {
      background-color: var.$blue-darker;
      border: 2px solid var.$divider-color;
    }
    &--selected {
      background-color: var.$blue-light-gray;
      border: 2px solid var.$blue-light-gray;
    }
  }

  &__title {
    color: var.$blue-white;
    margin-bottom: 0.25rem;
    font-size: 1rem;
  }
  &__description {
    color: var.$blue-gray;
    font-size: 0.5rem;
    @include mixin.dynamicLineClamp;
  }
  &__credit {
    color: var.$blue-gray;
    font-size: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: end;
  }

  @media (max-width: 768px) {
    width: 7.5rem;
    height: 5.5rem;
    margin: 0.5rem;

    &__title {
      font-size: 0.8rem;
    }
    &__description {
      font-size: 0.4rem;
    }
    &__credit {
      font-size: 0.4rem;
    }
    &__checkbox {
      width: 0.8rem;
      height: 0.8rem;
      font-size: 1.2rem;
    }
  }
}
